@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
/* Add this to your index.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
}